[2017-09-17 13:40] devacfr opened #1 "Migrate to maven pugin site 3.6"
There are several problems:
* not retrieve the file site-macros.vm to root path.
* the $config velocity can not be read ???

[2017-09-17 13:41] devacfr opened #2 "Bump Bootstrap to 3.3.6"
Objective to manual change the version by configuration.

[2017-09-17 13:44] devacfr opened #3 "Bumb Highlightjs version to 9.12.0"
Add possibilty to change manually the version by configuration

[2017-09-17 14:19] devacfr opened #4 "Resolve the sub dropdown in navbar collapse responsive view."
- display sub dropdown item directly instead on hover event.

[2017-09-17 15:53] devacfr opened #5 "share the same site.css by default for all modules"
you must share sometimes css for all modules.

[2017-09-17 20:41] devacfr opened #6 "Add automatically maven properties in doc"
- use site velocity feature

[2017-09-17 20:43] #2 closed

[2017-09-17 20:43] #3 closed

[2017-09-18 08:56] #6 closed

[2017-09-18 11:33] #1 closed

[2017-09-18 13:31] devacfr opened #7 "Add possibility to use Bootstrap 2x, 3x and 4x version"

[2017-11-30 13:25] solomax opened #9 "Carousel item are displayed in TOC"
It would really great if `<section>` item being used in `<carousel/>` will be excluded from TOC

[2017-12-01 02:30] solomax commented on #9
Sure :)
Sorry for delay, I'm in GMT+7 ....

[2017-12-01 02:37] solomax commented on #9
Works as expected!
Thanks :)

[2017-12-01 02:58] #9 closed

[2017-12-01 03:19] solomax opened #10 "Resulting HTML has too much whitespaces"
Just have checked resulting HTML

Same site generated using

original reflow plugin: https://om.alteametasoft.com/openmeetings/docs/
1.2.3 version: https://om.alteametasoft.com:8443/next/docs/

1. Lots of whitespaces in the beginning and between Menu blocks
2. Top of document

Hot sure how critical is this, but would be nice to fix

[2017-12-01 09:20] devacfr commented on #9
no problem.

[2017-12-01 09:39] devacfr commented on #10
I waited have a good velocity editor

[2017-12-01 15:50] devacfr commented on #10
Work done and available in version 1.3.0-DEVACFR

Your Welcome.

[2017-12-01 15:50] #10 closed

[2017-12-01 16:35] solomax commented on #10
Thanks a lot!
Just have checked, works as expected!
is it already available in central?

[2017-12-02 06:28] devacfr opened #12 "Add reflow-maven-skin to maven central"
## Actions

- change the groupId
- add gpg signin
- ask request in Bintray
- Waiting...

[2017-12-02 20:31] devacfr commented on #12
Waiting response from OSSRH.

[2017-12-02 23:14] devacfr commented on #10
This is available on maven central:
[code]

[2017-12-03 07:01] solomax commented on #12
Thanks a lot :)

[2017-12-03 07:21] solomax opened #14 "TOC issues for headers with same labels"
The following configurations will fail:

Carousel is enabled:
[code]
In this case second `Test` will be listed in TOC, but will not be hightlighted, and will not move to correct part of the page

Carousel is disabled
[code]
Will display correct TOC, but all links from `Test2->h3*` will point to `Test1->h3*`

[2017-12-03 08:42] #12 closed

[2017-12-03 13:14] solomax commented on #10
I can't see it
here: https://repo1.maven.org/maven2/io/github/devacfr
and here: http://mvnrepository.com/search?q=reflow

:((((

[2017-12-03 13:44] devacfr opened #15 "Add affix on toc side bar"

[2017-12-03 13:46] solomax commented on #15
I have implemented it as follows: https://github.com/apache/openmeetings/blob/master/openmeetings-server/src/site/resources/js/site.js#L26

[2017-12-03 13:51] devacfr commented on #15
Thank you, I prefer affix (manage top and bottom). You can see sample on branch 15-add-affix-on-toc-side-bar. But no worry, this feature will be optional to keep compatibility.

[2017-12-03 13:53] solomax commented on #15
Wasn't aware it works from both sides
Will double-check :)

[2017-12-03 20:15] devacfr commented on #15
the work is in progress.

[2017-12-03 20:17] devacfr commented on #10
For me, it is first time a release in  maven central. I forgot to run release action. Now it is available.

[2017-12-04 03:10] solomax commented on #10
Works as expected
Thanks for publishing :)

[2017-12-04 12:03] devacfr commented on #14
See commit https://github.com/devacfr/reflow-maven-skin/commit/2a52356119170bce9a8e5e19219d88bf251a520b for check.

Best regards,

[2017-12-04 12:27] solomax commented on #14
Seems to work as expected!
Thanks for the quick fix!

[2017-12-04 12:41] devacfr commented on #14
do you want publish a snapshot on https://oss.sonatype.org/content/repositories/snapshots/ ?

[2017-12-04 12:43] solomax commented on #14
I have tested using local build
Will wait for release :)

[2017-12-04 12:43] devacfr commented on #14
I can produce for this day ?!

[2017-12-04 12:46] solomax commented on #14
I have renamed TOC items for now.
So no rush :) Let the release has #15 implemented
Without floated sidebar no-one will notice this issue :)

[2017-12-04 12:58] devacfr commented on #14
👍

[2017-12-04 15:10] #14 closed

[2017-12-06 03:06] solomax opened #16 "Top navbar overlaps with header"
Top navbar overlaps with header

Steps:

1. Go to http://devacfr.github.io/reflow-maven-skin/skin/components.html
2. Resize browser to have minimum allowed width
Result: overlap

Somehow Original plugin (1.1.1) doesn't overlap: http://openmeetings.apache.org/

[2017-12-06 11:08] devacfr commented on #16
The original doesn't work on Bootstrap 3x!

I attached this bug to issue #14.

[2017-12-06 11:08] #16 closed

[2017-12-06 16:09] devacfr commented on #15
I publish a snapshot version of site.

[2017-12-07 03:46] solomax commented on #15
Hello @devacfr,

just have tested with local build of branch "feature/15-add-affix-on-toc-side-bar"
with `<toc type="fixed">`

TOC was NOT fixed, it was scrolled out
Header still overlaps on browser resize ...

Should I test another branch?

[2017-12-07 07:23] devacfr commented on #15
Hil @solomax, I are you sure?

- Normally the overlapping is fixed between body and top fixed nav bar.
- `fixed` means, when you scroll up and down the page, the side bar is always visible and locked in its position
- `static` means, the side bar scroll with body.

See http://devacfr.github.io/reflow-maven-skin/skin/toc-sidebar.html

Just missing button to display 'fixed' side bar for mobile devic

[2017-12-07 08:54] solomax commented on #15
Just have double-checked:

1. checkout to `feature/15-add-affix-on-toc-side-bar`(check changes using `git diff`)
2. removed my home-made code for sidebar
3. re-build side for my app
4. open page with and without `carousel`

Results:

1. no errors in dev console
2. TOC has attribute `data-spy="affix"`, and class `affix-top`
3. On scroll class is being changed to `affix`
BUT TOC is being scrolled on

[2017-12-07 11:43] solomax commented on #15
My bad, the issue was with my custom css
TOC works as expected
sorry for the noise :((

[2017-12-07 12:02] solomax commented on #15
The issue with overlapping is still here :(
It is being caused by the fact topbar is changing it's height
Maybe there are some options to fix topbar height?

[2017-12-07 14:55] devacfr commented on #15
Could you deploy a version or maybe I can clone OpenMeetings to test ?

[2017-12-07 15:23] devacfr commented on #15
I had the same problem on device size, where the nav bar reduced to 20px on scrolling. I resolve the problem to change padding in .subfooter  to margin.

[2017-12-07 15:38] solomax commented on #15
@devacfr sorry was out on the way home :)

you can see this overlapping here: https://om.alteametasoft.com:8443/next/docs/
This site was build by 1.3.3, but the effect is the same

`navbar  navbar-default navbar-fixed-top`
is overlapping with `container`

I'll update this location with site created with most recent version in couple of minutes

[2017-12-07 15:47] solomax commented on #15
https://om.alteametasoft.com:8443/next/docs/ is update

[2017-12-08 05:39] devacfr commented on #15
@solomax  should be happy. :)

[2017-12-08 05:46] solomax commented on #15
Works as expected!
Thanks a lot!
Would like to additionally test final version and will wait for release :)

[2017-12-08 05:48] devacfr commented on #15
I can wait, I'm working on another project...

[2017-12-08 05:52] solomax commented on #15
Can you please merge #14 and #15 to develop
I'll test in a minute :)

[2017-12-08 05:57] devacfr commented on #15
done.

[2017-12-08 06:02] solomax commented on #15
Everything works as expected!
Thanks a lot!

[2017-12-08 06:04] devacfr commented on #15
Can I release?

[2017-12-08 06:05] solomax commented on #15
Sure, please :)

[2017-12-08 06:05] devacfr commented on #15
ok ready about 1 hour

[2017-12-08 06:07] #15 closed

[2017-12-12 09:51] devacfr opened #17 "Can not click on breadcrumb"
the first heading in page hidden the breadcrumb and don't allow to click on it.

Add css

[code]

[2017-12-12 10:03] devacfr opened #18 "In checkstyle report link on detail of file doesn't work"
The link is
#ch.qos.logback.classic.pattern.PublicExtendedThrowableProxyConverter.java
but the link of detail is "#_toc_chqoslogbackclassicpatternpublicextendedthrowablep" (anchorjs link)

[2017-12-15 16:45] #17 closed

[2017-12-15 16:54] #18 closed

[2017-12-29 09:14] devacfr opened #19 "Add documentation support"
A document navigation page should facilitate the navigation through a tree of pages.

## Design
![sans titre](https://user-images.githubusercontent.com/2300004/35470873-645962ba-0351-11e8-9d96-68abd429c51b.png)

The `sidenav` is list of  chapters that possible to organize in section. Each chapter represents a file displayed in `content frame`. a `toc sidebar` is appended.

## To Do List

- [x] Boo

[2017-12-29 10:30] solomax opened #20 "Second level menu on mobile devices"
It seems second level menu items are being hardly accessible on mobile devices

Steps:
1) go to https://builds.apache.org/view/M-R/view/OpenMeetings/job/OpenMeetings%204.0.x/site/openmeetings-server/index.html on mobile device (I have used android phone)
2) in top menu try to go to Configuration->User Interface->Hot keys
Result: after "touch" "User Interface" menu closes
Expected result: All level

[2017-12-29 13:41] devacfr commented on #20
Thank you, I can't work on it for the moment. I'm going to do at middle of January.

[2017-12-29 13:59] solomax commented on #20
Will also try to investigate :)
Thanks a lot and Happy NY :)

[2018-01-12 11:19] devacfr commented on #20
Hi @solomax,
 Ok ,The problem is that the menu item of submenu is link on a page. the solutions is prevent the browser from opening a URL but allows that if tapped once again in succession. You can find modification on branch 1.3.6

[2018-01-12 11:20] #4 closed

[2018-01-12 13:50] solomax commented on #20
Works as expected!
Thanks a lot for the quick fix!

[2018-01-12 16:24] #20 closed

[2018-01-15 14:48] devacfr opened #21 "Javascript error on doubleTapToGo javascript function"
Exception
[code]

[2018-01-26 17:28] devacfr commented on #19
## TODO after commit 6a4e1fd
- rendering sub-item
- add icon for item and sub-item
- refactoring documentation
- update documentation

[2018-01-26 17:30] #21 closed

[2018-05-16 10:49] solomax opened #22 "release 1.3.7 seems to be not valid"
Hello @devacfr,

It seems not all artifacts were pushed to Maven
There is no http://mvnrepository.com/artifact/io.github.devacfr.maven.skins/reflow-parent of version 1.3.7 :(

Could you please re-deploy it?

[2018-06-01 08:42] solomax commented on #22
@devacfr ping :)

[2018-06-01 09:42] devacfr commented on #22
hello, sorry I'm coming back. I resolved the problem. the new version is 1.3.8 (can not redeploy in maven central)

[2018-06-01 09:42] #22 closed

[2018-06-03 07:44] solomax opened #23 "TOC block overlapping carousel element"
Recently we got this https://issues.apache.org/jira/browse/OPENMEETINGS-1876 bug report (against reflow 1.3.6)
I have updated to 1.3.8 but this is still an issue :(

Can be checked here:
https://builds.apache.org/view/M-R/view/OpenMeetings/job/OpenMeetings%204.0.x/site/openmeetings-server/index.html

Works as expected in Chrome latest, overlapping in FF

[2018-06-10 09:22] devacfr commented on #23
There two error to fix:
- the breacrumb has z-index (1020) greater than to toc-sidebar (1000)
- the top-offset use default value "70px".
- the calculation of bottom offset is wrong

I will verify whether the top-offset and bottom offset work correctly

[2018-06-10 13:34] solomax commented on #23
Thanks a lot!
Will try it right now

[2018-06-10 17:49] solomax commented on #23
The issue seems to still reproducible in FF :(((
https://builds.apache.org/view/M-R/view/OpenMeetings/job/OpenMeetings%204.0.x/site/openmeetings-server/index.html

[2018-06-16 12:31] solomax commented on #23
My bad :(
I'm using static JS/CSS files, will re-check and report back

[2018-06-16 15:04] solomax commented on #23
Seems to be fixed
Thanks a million!

[2018-06-16 15:07] solomax commented on #23
It seems I was too fast :(
Re-checked one more time https://builds.apache.org/view/M-R/view/OpenMeetings/job/OpenMeetings%204.0.x/site/openmeetings-server/index.html

And the issue seems to be reproducible :(

[2018-06-18 07:40] devacfr commented on #23
I need maybe wait the rendering of carousel to calculate the offset top of sidebar. How do, I don't know but I will find...

[2018-06-18 12:32] solomax commented on #23
Here is some code, not sure if it will help:
https://stackoverflow.com/questions/31630393/bootstrap-carousel-show-after-everything-is-loaded

[2018-06-22 08:02] devacfr commented on #23
I published a snapshost version.
Now, $('.carousel').carousel() is execute on document ready and the calculation of offset is execute on DOM finished loading.
I simulate latency with "Regular 3G" and disable the cache with FF 60.0.2, that works... I don't understand this problem.
The only solution for me, you should fix the size of carousel if the last update doesn't work... \:)/

[2018-06-26 10:07] solomax commented on #23
I have added custom style with hardcoded height
Hope it will fix the issue

Thanks for your efforts!
Will wait for the release :)

[2018-06-26 10:07] #23 closed

[2018-06-27 08:41] devacfr commented on #23
Hi @solomax,
Thx and sorry.
The next version 2, toc sidebar will be display on the right outside .row containing body content.

[2018-06-28 04:05] solomax commented on #23
@devacfr could you please release 1.3.9? I need to remove snapshot dependency :)
Thanks in advance

[2018-06-29 06:01] devacfr commented on #23
Hi @solomax, I published release 1.3.9.

[2018-06-29 09:44] devacfr commented on #23
Hi @solomax ,
I discovered a error with new version of jquery. I published a new version 1.3.10

[2018-07-15 09:37] solomax commented on #23
Thanks a million!

[2018-10-10 08:33] devacfr opened #25 "Remove unused relative URL on external link"
Remove element  "_protocolRelativeURLs_" of reflow configuration.

[2018-10-10 08:40] devacfr opened #26 "Remove unsused offsetTop on toc element"

[2018-10-10 09:33] devacfr opened #27 "Remove using of awesome font"

[2018-10-11 09:29] #27 closed

[2018-10-11 09:29] #26 closed

[2018-10-11 09:29] #25 closed

[2018-10-11 09:30] #5 closed

[2018-10-11 09:38] devacfr opened #28 "Add local resources easily during site generation"
## Objective
Objective is create a remote web resource of all required web dependencies as bootstrap, jquery, anchorjs, highlightjs...

## Proposal
- Add sub-module reflow-default-webdeps containing all web dependencies. Inspired of work on project [incubator-plc4x](https://github.com/apache/incubator-plc4x)
- relocate [Bootswatch](https://bootswatch.com/) in specific folder _css/themes_.

[2018-10-11 11:39] devacfr opened #29 "Update to use customized Bootstrap theme 3.x"
Currently, the documentation references the customization of boostrap 2x
Objective is allow to include customized bootstrap theme 3x (see https://getbootstrap.com/docs/3.3/customize/).

See [Reflow Themes](https://devacfr.github.io/reflow-maven-skin/skin/themes/)

[2018-10-11 11:45] solomax commented on #29
Any chance to be able to use `offline` theme?

[2018-10-11 13:19] devacfr commented on #29
@solomax which theme.
I'm working on [#28](https://github.com/devacfr/reflow-maven-skin/issues/28) allowing to add web dependencies (boostrap,jquery...) and also bootswatch theme. See latest commit.
I created a module "reflow-default-webdeps" and after You are just need set in site.xml <localResources>true</localResources> and add following in pom.xml

[code]
You can play with includes and exclude

[2018-10-12 04:49] solomax commented on #29
Hello @devacfr,

just have tried 1.4.3-SNAPSHOT (local build)
And it copies resources! Thanks for that

The only issues I see: following css classes are missing: `alert-primary` `card-text` and maybe some more

[2018-10-12 06:44] devacfr commented on #29
hi @solomax,
I'm looking for why there not all bootstrap classes, I'm going resolve this problem (maybe).

[2018-10-12 07:06] devacfr commented on #29
Hi @solomax,
yes, in cerulean theme, alert-primary is missing, card is component of bootstrap 4. I would finalize with bootstrap 3 before begin to work on bootstrap 4.
After, I can create sub-modules specific to bootstrap 4, give me feedback!!

[2018-10-12 07:08] solomax commented on #29
@devacfr my bad, I should check this :(
Let me me when it will be time to test :)

[2018-10-12 07:32] devacfr commented on #29
@solomax, I don't know if it works correctly with bootstrap 4...

[2018-10-12 08:13] solomax commented on #29
OK, I'll re-test with bootstap3 and will report the results :)

[2018-10-12 08:29] devacfr commented on #29
@solomax that doesn't work with bootstrap 4

[2018-10-12 08:37] #28 closed

[2018-10-12 12:56] #29 closed

[2018-10-16 05:53] solomax commented on #29
@devacfr are you planning to release 1.5.0?

[2018-10-16 08:02] devacfr commented on #29
@solomax, I planned to release a beta version.  Are you agree ?
I planned this week also release a beta version 2.0.0-beta supporting bootstrap 4x and documentary support (#19).

[2018-10-16 08:03] solomax commented on #29
Wow :)
both betas are OK :)
I'll try to test both :)

[2018-10-16 08:35] solomax commented on #29
@devacfr
this is actually why I initially would like to wait for bootstrap4 support
To change everything to 4 :)
I can test develop locally, would it help?

[2018-10-16 08:49] devacfr commented on #29
@solomax,
yes, thank you in advance. All remarks are welcome. for comment write in issue #19 please.

[2018-10-16 10:39] solomax commented on #19
I just have started testing (using locally built version from `develop` branch)
Features not working so far:

1. theme: https://github.com/apache/openmeetings/blob/master/src/site/site.xml#L66
2. endContent: https://github.com/apache/openmeetings/blob/master/openmeetings-server/src/site/site.xml#L138

will try to do some more testing tomorrow

[2018-10-16 10:52] solomax commented on #19
Additionally `velocity.log` is being created in the root of the project tree

[2018-10-16 12:42] devacfr commented on #19
@solomax
- set `<localResources>`**true**`</localResources>`
- to use theme "cerulean" set to `bootswatch-cerulean` (see https://devacfr.github.io/reflow-maven-skin/skin/themes/bootswatch-cerulean.html).
[code]
**Note**: main.basedir equals to `${session.executionRootDirectory}` for relativize url (see https://devacfr.github.io/reflow-maven-skin/skin/multi-module.html )

- "site" used to customize

[2018-10-16 12:49] solomax commented on #19
@devacfr
All this is actually done:

theme and local resources:
https://github.com/apache/openmeetings/blob/new-reflow-site/src/site/site.xml#L65

resource unpacking:
https://github.com/apache/openmeetings/blob/new-reflow-site/openmeetings-server/pom.xml#L228

As far as I can see `reflow-default-webdeps` has no themes in it

[2018-10-16 13:08] devacfr commented on #19
@solomax, in site.xml
I think this is wrong `<theme>bootswatch-${reflow-theme}</theme>` , normally
`<theme>bootswatch-${this.reflow-theme}</theme>` see  Interpolation
 in https://maven.apache.org/plugins/maven-site-plugin/migrate.html.
I recommend to remove minus character.

[2018-10-16 13:12] solomax commented on #19
@devacfr this works as expected if reflow 1.4.2/1.5.0 is used
I'll try to change `reflow-theme` with `reflow.theme`, but I doubt it will help

[2018-10-16 13:16] devacfr commented on #19
@solomax, if that's works fine ok, but not use '.'  dot character.

[2018-10-17 05:06] solomax commented on #19
Hello @devacfr,

theme and endContent is now being loaded as expected, thanks!

Is there any way to provide top navbar css class?
I found `<toc cssClass="navbar-dark bg-primary border rounded">top</toc>` only

`velocity.log` is still being generated in project root folder, is it possible to create it in `target` folder?

It seems following XML is not being correctly processed:
[code]
You can check

[2018-10-17 11:51] devacfr commented on #19
Hi @solomax
- you can change the default color and style of toc using `cssClass` attribute ex: "navbar-light bg-light" or "navbar-dark bg-primary".
- I try to find how disable velocity.log output
- for error, I must fork your project to check. a html element isn't close correctly (I will verify friday).

[2018-10-17 14:38] devacfr opened #30 "Unexpected velocity.log file created during site generation"

[2018-10-18 05:16] solomax commented on #19
Hello @devacfr,

navbar is being generated for me by this plugin
I have modified my site.xml as follows:
`<toc cssClass="navbar-dark bg-primary" type="fixed">sidebar</toc>`
with no effect :(

Specified CSS classes were NOT added to both top navbar and sidebar

[2018-10-18 05:54] #30 closed

[2018-10-18 05:59] devacfr commented on #19
Hi @solomax,
I changed attribute `type` by `position` in `<toc position="fixed|relative" >sidebar</toc>`  element.
to change css in navbar. add `<navbar cssClass="navbar-light bg-light border-bottom|bootstrap classes">` element.

For more information [migration](https://github.com/devacfr/reflow-maven-skin/blob/develop/reflow-maven-skin/src/site/markdown/migration.md)

[2018-10-18 06:07] solomax commented on #19
It works
Thanks a lot :)

Only one minor issue remains: `html element isn't close correctly`
Let me know when it will be time to test it :)

[2018-10-18 15:52] devacfr commented on #19
@solomax
FYI, I replace `<topNav>` element by `filterMenu` attribute on `navbar` element.

For more information [migration](https://github.com/devacfr/reflow-maven-skin/blob/develop/reflow-maven-skin/src/site/markdown/migration.md#navbar-component)

[2018-10-19 05:48] solomax commented on #19
Thanks @devacfr, I haven't used `topNav` :)

[2018-10-19 12:36] devacfr commented on #19
Hi @solomax
I generate the site with reflow and without, I have same result. I believe the error is in `maven doxia` project, but I don't where exactly. I continue to find

——————— without reflow
[code]

——————— with reflow

[code]

[2018-10-19 12:53] devacfr commented on #19
Hi @solomax,
If you replace <h4> element by a stuf  like this <div class="font-weight-bold">, Its works.

**PS**: I'm on vacation for a week. I would implement the theme on footer before release a beta version.

[2018-10-19 14:37] solomax commented on #19
it seems formatting was lost :(
Could you update your comment?

Here http://openmeetings.apache.org/ it seems to be displayed correctly ...

[2018-10-19 16:10] devacfr commented on #19
@solomax,
I used reflow 1.4.2, 1.5.0 and 2.0.0 with on branch new-reflow-site. I'm trying without reflow skin. I used site 3.6. restore decoration xsd 1.6. I have same result. I don't undestand the reason. Now, I will try using release 4.0.6-RC1 and reflow 2.0.0

[2018-10-19 17:05] devacfr commented on #19
Hi @solomax

the release 4.0.6-RC1 doesn't use heading in callout...

[code]

[2018-10-20 03:52] solomax commented on #19
Thanks @devacfr
Totally forgot about this change, will change it to `b` and will play with CSS
Thanks a lot!

[2018-10-20 04:09] devacfr commented on #19
Maxim,
No problem, its appends😀

[2018-10-21 09:58] devacfr commented on #19
Reflow version 2.0.0-beta1 has been released.

[2018-10-21 12:28] devacfr opened #32 "Remove support of customized Bootsrap theme"
Not supported directly by Bootstrap 4

[2018-10-21 14:22] devacfr opened #33 "Add Doxia edition button on documentation page"
See change on fluido skin commit https://github.com/apache/maven-fluido-skin/commit/f16f8e9c7ca2d6511e256aee3fab75e73ba79d36#diff-71fbe62b14671e1537ac2b7c311356c4

[2018-10-21 16:00] devacfr opened #34 "Add popper.js bootsrap dependency"
see https://getbootstrap.com/docs/4.1/components/tooltips/ for implementation.

[2018-10-28 07:53] devacfr opened #35 "Fix active link on menu item when link is index.html page"

[2018-10-29 13:43] #33 closed

[2018-10-29 16:37] #32 closed

[2018-10-30 10:15] #35 closed

[2018-10-30 13:49] #34 closed

[2018-11-02 17:28] devacfr opened #36 "Support menu separators"

[2018-11-02 17:28] devacfr opened #37 "Support menu header as component"
Header should be customizable:
- using bootstrap theme and specific css class.
- set the visibility
- maybe have specific reflow theme.

[2018-11-05 09:51] devacfr opened #38 "Undefined page when selectOnExpand is true and the first element in menu is menu item section"
this config failed. the page to display is `undefined`.
[code]

[2018-11-06 07:04] devacfr opened #39 "Possibility add image brand in navbar"

[2018-11-11 15:51] devacfr commented on #39
problem with relative image path

[2018-11-16 18:03] #39 closed

[2018-12-06 07:13] solomax opened #40 "Wrong mailing list links are generated"
Here is the example (generated with 2.0.0-beta2) https://builds.apache.org/view/M-R/view/OpenMeetings/job/openmeetings/site/openmeetings-server/mailing-lists.html

There is no `mailto:` prefix, so links are useless :(

[2018-12-07 07:02] devacfr commented on #40
Hello @solomax ,
I hope all is fine, I search to find the problem (nothing).
But, I discover how apache declares mailing list in pom.

https://github.com/apache/maven-parent/blob/master/pom.xml

[2018-12-07 07:05] solomax commented on #40
got it
Will fix our build
sorry for the noise

[2018-12-07 07:05] #40 closed

[2018-12-07 07:19] devacfr commented on #40
No problem,
sla 24h 24/24 7/7.

Actually, you are same problem with contributor email.

[2018-12-07 07:32] solomax commented on #40
Hmmm
the issue with mailing lists was fixed by adding `mailto:` prefix
The issue with contributor's email wasn't fixed :(
email addresses are displayed as `mailto:real_mail` instead of `real_mail` with `mailto:` in href :(

[2018-12-08 04:39] solomax commented on #40
Thanks a million @devacfr for the investigation
I'll contact Maven team regarding this

[2018-12-26 03:31] solomax opened #41 "Source highlighting seems to be broken"
Hello @devacfr,

I'm using latest 2.0.0beta2 and just noticed source highlighting seems to be broken
I'm using xdoc format and blocks like this `<source><![CDATA[]]></source>`

This result can be checked here: https://builds.apache.org/view/M-R/view/OpenMeetings/job/OpenMeetings%204.0.x/site/openmeetings-server/RTMPSAndHTTPS.html

Same page generated with 1.4.2 available here: https://om.alteameta

[2018-12-26 04:05] solomax commented on #41
This issue is fixed after adding
[code]
and unpacking correspondent stylesheet
So I guess only users not using `highlightJs` are affected

[2018-12-26 15:20] devacfr commented on #41
Hello @solomax,
I hope you have a good Christmas Eve.
Can I close this issue?

[2018-12-26 16:11] solomax commented on #41
Sure, if `<source>` shouldn't work without highlightJs :)

Merry Christmas :)
In Russia main hioliday is NY :) and Christmas is being celebrated Jan 7 :)))

[2018-12-26 16:11] #41 closed

[2019-05-10 07:52] #19 closed

[2019-05-13 07:19] devacfr opened #42 "Add notifier on top of page"
The notifier should display a message on top of page
- should be closable
- customizable by bootstrap theme or css class.
- the body should be include in site.xml

[2019-05-13 07:34] devacfr opened #43 "Add possibility to customize a specific section"
The objective is produce a wonderful pages as Jekill theme https://jekyllrb.com/showcase/.
add &lt;section&gt; child element in &lt;sections&gt; element.
- customizable by bootstrap theme or css class.
- maybe have specific reflow theme.

I should maybe create a sass template allowing let's developer customize it and include own styles.

[2019-05-13 07:50] devacfr opened #44 "Use arrow up awesome character for scroll top instead css transformation"

[2019-05-13 08:40] devacfr opened #45 "NPE when navbar element is not declared"
[code]

[2019-05-14 06:13] #45 closed

[2019-05-16 10:49] devacfr opened #46 "Allow to specify the alignment element in navbar"
- Add `center` attribute with values `true`  (**default**) or `false`. `center` use bootstrap containers (https://getbootstrap.com/docs/4.3/components/navbar/#containers) otherwise use default bootstrap alignment.
- Add `alignMenu` with values `left`  or `right`.
  -`left`  is default bootstrap alignment.
  -`right` (**default**) use `ml-auto`  bootstrap auto alignment see https://getbootstrap.com

[2019-05-17 07:35] devacfr opened #47 "Slogan is not display anymore"

[2019-05-17 09:06] devacfr opened #48 "frame page has wrong relative path"
the relative path of frame page is wrong for following case:
the document page is not in root folder
[code]
the generated url for the below case is:
- folder/document-page.html#folder/folder/frame-page.html

[2019-05-17 09:31] devacfr opened #49 "can not have document with same filename when one is frame page"

[2019-05-17 14:03] #49 closed

[2019-05-17 14:06] #47 closed

[2019-05-17 16:19] #48 closed

[2019-05-17 17:19] devacfr opened #50 "level attribute on toc sidebar doesn't work correctly"

[2019-05-17 18:22] #50 closed

[2019-05-17 18:38] devacfr opened #51 "Exclude menu with name null or empty directly in navbar component"

[2019-05-28 11:25] #46 closed

[2019-05-29 12:48] #44 closed

[2019-06-13 07:26] devacfr opened #52 "Bump highlightjs version to 9.15.7"

[2019-06-13 07:26] #52 closed

[2019-06-24 09:21] #51 closed

[2019-06-25 11:38] devacfr opened #53 "Sets link menu in footer as active when associate to current a documentation page."
- active dynamically the link by Javascript

[2019-10-09 11:34] devacfr opened #54 "The generate url hash is wrong when click on a item in TOC sidebar"

[2019-10-09 11:35] #54 closed

[2019-10-10 12:20] GatiGato opened #55 "test failed when running on windows"
the test failed org.devacfr.maven.skins.reflow.HtmlToolTest.shouldExtract

due to maybe no manage Windows line ending

[2019-10-31 15:12] #37 closed

[2019-11-17 20:23] chabala commented on #19
Sorry to ping a closed issue, but I see mentioned here a few times that `velocity.log` was appearing in your project root. Did you discover why and how to prevent that?

[2019-11-18 10:07] devacfr commented on #19
@chabala see commit https://github.com/devacfr/reflow-maven-skin/commit/d68df55faeec0f143e0fe58cc900d3b330ab9369. add src/main/resources/org/apache/velocity/runtime/defaults/velocity.properties file in your project or change property runtime.log = target/velocity.log

[2020-01-08 07:19] devacfr opened #57 "create bootstrap template module."
the Objective is using Bootstrap sass theming to include existing reflow css as components and layout.

[2020-02-14 14:29] devacfr opened #58 "Add different types of rendering for header component."
- The header component should have 3 following rendering types:
    - `jumbotron` - the current rendering (default)
    - `banner` - display centering banner.
    - `custom` - use specific html (cdata content of header component) to render the header.
- Move the breadcrumbs in main section.

[2020-02-14 16:38] devacfr opened #59 "The cssClass attribute is inclusive instead exclusive."
The cssClass attribute is inclusive instead exclusive. ie, add new css classes to component instead replace theme and background css classes.

[2020-02-14 16:41] devacfr opened #60 "Bump doxia tools version to 1.9"

[2020-02-14 16:46] devacfr opened #61 "Add new body page type"
This page type is composed only header (navbar), body and footer. You can play only with the body content. The content is put as is, Reflow maven skin should not modify this content.

The objective of this page type is:
- let's be free in your inspiration. example for a home page.
- reduce the configuration at minimum

[2020-02-15 08:53] #59 closed

[2020-02-15 11:26] devacfr opened #62 "Error when scroll top with smooth scroll is disabled"
TypeError: $window.scrollTo is not a function
-> use $window.scrollTop(0) jquery function.

[2020-02-16 06:07] #62 closed

[2020-02-16 06:08] #60 closed

[2020-02-29 07:16] aurelien-baudet opened #63 "Do not override heading ids"
# Current behavior

## Context

I use Asciidoctor to generate documentation. Asciidoctor generates anchors and a toc using headings:

* Either by generating an id based on heading text
* Or by using an explicit id that is set in document source (using `[[custom-id]]`)

Ids generated by Asciidoctor are also important because we can make links between different documents (using `<<other-document.ado

[2020-02-29 08:43] devacfr commented on #63
@aurelien-baudet hello,
Thank you for your feedback. I'm following the your work on project [ogham](https://github.com/groupe-sii/ogham). And for this reason, i'll prepare a new version (2.3.0) to (try) simplify your expectation concerning the visual.
Normally in your project, your user manual documentation page shouldn't call this method (do not contains TOC).

Now, you can integrate a free conte

[2020-03-02 14:21] devacfr commented on #63
@aurelien-baudet, could you say me on which pages of your project you are this problem?
For me, the problem is the execution of method `htmlTool.ensureHeadingIds` is executed even there is no toc `<toc>false</toc>`.
And also set `<html5Anchor>false</html5Anchor>` globally or on specific page. see [HTML5-style anchors](https://devacfr.github.io/reflow-maven-skin/reflow-maven-skin/reflow-documentati

[2020-03-02 19:59] devacfr commented on #63
@aurelien-baudet A new snapshot version 2.3.0-SNAPSHOT is available on maven central with the fix [098068c](https://github.com/devacfr/reflow-maven-skin/commit/fca0f21124e25237b3ea55a3b17b747e6d7b1188).
If you want a hot fix on previous version 2.2.0. Let me know.

[2020-03-03 06:03] aurelien-baudet commented on #63
Great !

I will try the snapshot version as soon as possible to give you a feedback.

[2020-03-04 15:28] devacfr opened #64 "Add possibility to disable AnchorJS"
with flag `<anchorJS>true|false</anchorJS>` is possible to disable globally or locally at a page. AnchorJS javascript is loaded but doesn't initialize.

[2020-03-04 16:08] #64 closed

[2020-03-05 12:28] #61 closed

[2020-03-05 12:28] #58 closed

[2020-03-06 08:16] #63 closed

[2020-03-10 11:31] devacfr opened #65 "Add possibility to extend navigation bar"
Add `additionalMenu` element in Navbar component.
`<additionalMenu>` contains HTML elements, which will be embedded in the collapse part of navbar.

[2020-03-10 12:40] devacfr opened #66 "Remove unnecessary documentation"

[2020-03-10 18:19] devacfr opened #67 "Add regression test to test maven-site-plugin and doxia tools version"
maven-site-plugin 1.8.2 ( and doxia-tools 1.9) has created error on openmeeting project and on reflow-maven-plugin, the literal code element has disappeared.

## Objective

- Add unit test to verify all markdown (for the moment) elements.

[2020-03-10 18:59] #65 closed

[2020-03-11 10:27] #67 closed

[2020-03-11 10:44] #66 closed

[2020-03-11 11:53] devacfr opened #68 "error display of ToC Top when rendering sub dropdown element."
missing `<ul>` enclosing and missing class on anchor element in sub dropdown element.

[2020-03-11 11:57] #68 closed

[2020-03-11 13:35] devacfr opened #69 "Add ToolTip initialization."

[2020-03-11 13:36] #69 closed

[2020-03-11 17:30] devacfr opened #70 "Create shortcodes inside your content files calling built-in or custom templates"
A shortcode is a simple snippet inside a page that Reflow will render using a predefined template.

[2020-03-16 11:26] aurelien-baudet commented on #63
Mgration to 2.30 done with no issue !

[2020-03-16 17:05] devacfr commented on #63
@aurelien-baudet.
I recommend use maven-site-plugin 3.9.1, fix problem on `<pre>` element rendering.

[2020-03-17 04:54] aurelien-baudet commented on #63
Did you mean 3.9.0 ? Because 3.9.1 doesn't seem to exist.

[2020-03-17 15:00] devacfr commented on #63
@aurelien-baudet  sorry, I confused with the version of Doxia-tools. Yes, the version of maven-site-plugin is 3.9.0.

[2020-03-18 08:06] devacfr opened #71 "Add mode javascript to snippet web component"
## Objective
implements [web components](https://developer.mozilla.org/en-US/docs/Web/Web_Components) to replace velocity template (but not necessarily).
This feature allows to resolve the dependency with a component and its associated javascript code. And also, the possibility to encapsulate css style.

[2020-03-19 19:31] devacfr opened #72 "The banner name in header do not display correctly."
- remove the link of banner.name
- heading of banner.name is inline

[2020-03-21 13:20] #72 closed

[2020-03-21 13:34] devacfr opened #73 "Move documentation from reflow-maven-skin module to parent module"
allow to see change on page directly when run site:run.

[2020-03-22 13:49] devacfr opened #74 "Use markdown metadata implemented in Doxia MarkdownParser"
See example for https://github.com/apache/maven-doxia/blob/master/doxia-modules/doxia-module-markdown/src/test/resources/metadata.md

[2020-03-22 16:49] #74 closed

[2020-03-22 20:21] devacfr opened #75 "Add Twitter shortcode"

[2020-03-22 20:22] #75 closed

[2020-03-23 18:10] devacfr opened #76 "The content of bottomDescription element is not evaluate"

[2020-03-24 11:26] #76 closed

[2020-03-25 11:11] #73 closed

[2020-03-25 11:32] devacfr opened #77 "add properties in declaration of page in site.xml"
## Objective

Allow to use in partial template to use these properties as arguments.

[2020-05-17 10:22] borgogelli opened #78 ""mvn site" and nothing happens"
I use mvn 3.6 on Windows and I have configured pox.xml and site.xml as  described at https://devacfr.github.io/reflow-maven-skin/doc/reflow-documentation.html#doc-get-started.
When I run
`mvn clean install site`
the site is built with the custom css
Any ideas ?

[2020-05-17 16:52] devacfr commented on #78
Hello @borgogelli,
Sorry, I need more information. Could you give more or a link on your project. I will be happy to help you.
Best Regards

[2020-06-18 05:01] devacfr commented on #78
Close for no activity.

[2020-06-18 05:01] #78 closed

[2022-05-18 02:22] solomax opened #81 "Bad published date is generated if latest maven-site-plugin is used"
Hello @devacfr,

recently I've changed `maven-site-plugin -> 4.0.0-M1`
This produces `Last Published` date as `$dateFormat.applyPattern( $format ) $i18n.getString( "site-renderer", $locale, "template.lastpublished" ): $dateValue`

(can be checked for ex. here: https://nightlies.apache.org/openmeetings/)

`maven-site-plugin` `3.11.0` and `3.12.0` works as expected

steps to reproduce:

1. clone htt

[2022-05-18 03:00] solomax commented on #81
Might be Doxia issue :(

I can see following placeholder in generated files:

[code]

[2022-06-17 04:24] solomax commented on #81
ping? :))))

[2022-06-22 04:22] devacfr commented on #81
HI @solomax, sorry I have health problems. I watch it next week.

[2022-06-22 05:59] solomax commented on #81
no rush @devacfr :)
Please take care of yourself :)

[2022-06-27 01:58] solomax commented on #81
things are even worse with latest maven-site-plugin `4.0.0-M2` :((((

[code]

[2022-07-21 03:41] solomax commented on #81
Hello @devacfr,
how are you? :)

[2022-08-15 14:31] devacfr commented on #81
Hello, I come back. I will try...

[2022-08-15 16:21] devacfr commented on #81
After investigation. I need to bump version of Velocity and upgrade the reflow according to it.
This can take a while to verify and test this change.
I going to give feedback and maybe publish a snapshot version if you want.

[2022-08-15 20:12] jdimeo opened #82 "Specify highlightJS language"
Thank you for maintaining this fantastic skin.

I am documenting YAML files in my site, and highlightJS "auto" language is always getting it wrong- sometimes it thinks it's SQL, sometimes .properties, etc.

I've generated my markdown with
[code]

but it doesn't seem to have an effect. Is there a way to enable highlightJS but disable auto detection and use the hint from Markdown?

[2022-08-15 20:15] devacfr opened #83 "Bump maven site plugin to 4.0.0-M2"
- Need upgrade velocity-tools to 3.1 and become velocity-tools-generic
- Upgrade doxia-sitetool to 1.11.1
- Some reports may not work yet (clover,rat)

[2022-08-15 20:22] devacfr commented on #82
Hello @jdimeo, Thanks.
Are you test directly the rendering of your yaml with latest version of highlightJS ?
Do you use reflow with local resources (<localResources>true|false</localResources>) ?
Could you give me link of your project (if possible) ?

[2022-08-15 20:35] jdimeo commented on #82
No, I'm just using:
[code]
and using version **2.3.0** of this skin which looks like it uses **9.15.7** of highlightJS. I'm not using local resources. Unfortunately, I can't share the site because it is internal, but I'm just referencing this part of the documentation:

https://devacfr.github.io/reflow-maven-skin/doc/reflow-documentation.html#doc-configuration_toc_code-highlight

[2022-08-15 20:42] devacfr commented on #81
### Task

- [ ] Need upgrade velocity-tools to 3.1 with new name velocity-tools-generic
- [ ] Upgrade doxia-sitetool to 1.11.1

NB: Some reports may not work yet (clover,rat,...)

[2022-08-15 21:12] devacfr commented on #82
@jdimeo , could you test your page containing yaml and change manually highlightJS reference using latest version or add &lt;reflowSkin&gt;... &lt;highlightJsVersion&gt;11.6.0&lt;/highlightJsVersion&gt;... &lt;/reflowSkin&gt;?
There are more possibilities:
- wrong version of highlightJS
- reflow generate wrong html
- and finally you will have to use another highlight renderer.

[2022-08-15 21:23] jdimeo commented on #82
Thank you for your fast responses and help!

Yes! Upgrading to **11.6.0** has fixed many issues on most pages. I didn't realize it was as easy as `<highlightJsVersion>`. This is definitely good enough for now. I just thought there might be a way for the language hint to be sent to highlightJS more "directly" (since Markdown supports it) instead of hoping to "get lucky" that the auto-detection of l

[2022-08-16 02:45] solomax commented on #81
welcome back @devacfr :)
hope you are better :)))

sure, please share SNAPSHOT as soon you will be ready
will be happy to test :)

[2022-08-17 06:33] devacfr commented on #82
@jdimeo, the language hint is not recognize by markdown doxia plugin I believe. You can create a issue on my project for investigation.

[2022-08-17 06:33] #82 closed

[2022-08-17 14:47] devacfr commented on #81
@solomax the snapshot 2.3.1-SNAPSHOT version is available in repo https://oss.sonatype.org/content/repositories/snapshots

[2022-08-19 05:01] solomax commented on #81
@devacfr just have tested with both `maven-site-plugin:4.0.0-M3` and everything seems to works as expected
no crash and the published date is correct!

Thanks for the fix!

[2022-08-29 10:26] solomax commented on #81
@devacfr any ETA for the release? :)

[2022-08-31 12:23] devacfr commented on #81
@solomax , I'm overbooked. I hope release this version next week. I'll let you know.

[2022-09-01 01:49] solomax commented on #81
@devacfr no rush :)
Thanks a lot for maintaining this plugin :))

[2022-09-22 10:30] solomax commented on #81
Hello @devacfr any news on the release date? :))

[2022-09-23 11:18] devacfr commented on #81
@solomax, i will do it today

[2022-09-25 13:27] #81 closed

[2022-09-25 13:37] devacfr commented on #81
@solomax the release 2.3.1 is available.

[2022-09-28 08:16] solomax commented on #81
@devacfr just have updated to the latest version and everything works as expected!
Thanks a lot!

[2022-10-19 05:38] jdimeo commented on #81
Thank you for this! this allows me to use the latest Doxia dependencies because I found a rendering performance bug, so I appreciate the work here so we can still use the skin